* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h2 {
  font-weight: 800;
  text-align: center;
  margin: 30px;
}

.row {
  position: relative;
  height: 25%;
}


.floyd [class^="col-"] {
  background: lightgrey;
  border-color: grey;
  height: 100%;
}



.border {
  border: 3px solid black;
}

.floyd {
  position: relative;
  height: 400px;
}

.logo-pink-floyd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:200px;
  z-index: 1;
}


.yellow {
  background-color: yellow;
  height: 160px;
}

.blue {
  background-color: blue;
  height: 160px;

}

.red {
  background-color: red;
  height: 320px;
}

.white {
  background-color: white;
  height: 160px;
}

.box1 {
  float: left;
  height: 320px;
  background-color: white;

  width: calc(100% / 2);
}
.boxed {

}

.red2 {
  background-color: red;
  height: 160px;
}

.black {
   background-color: black;
}

.box3 {
  width: calc(100% / 2);
  height: 160px;
  float: left;
}


.border {
  border: 1px solid black;
}
